{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset Sent - Library System{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Password Reset Email Sent</h4>
                </div>
                <div class="card-body">
                    <p>We've emailed you instructions for setting your password. If you don't receive an email within a few minutes, please check your spam folder.</p>
                    <div class="text-center mt-3">
                        <a href="{% url 'home' %}" class="btn btn-primary">Return to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
